<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;117dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;46dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;139dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;139dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;27dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;155dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;CURSOS&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/nombre&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;262dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerInParent</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;271dp&quot;</span>
        <span class="s1">android:ems</span><span class="s2">=&quot;10&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;textPersonName&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Name&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;334dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;11dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;11dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;82dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;CORREO ELECTRONICO&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;EditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/correo&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;147dp&quot;</span>
        <span class="s1">android:ems</span><span class="s2">=&quot;10&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;textPersonName&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Name&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;180dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Agregar&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;161dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;161dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;130dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;SALIR&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;317dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;58dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;13dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;340dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;NOMBRE&quot; </span><span class="s0">/&gt;</span>
<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>